



  
  .suggestion:hover{
    cursor: pointer;
  }
  .suggestion-container{
    max-width: 200px;
  }
  .autocomplete-container{
    position: absolute;
  }
  .li-auto{
    color: #ddd;
  }

  @media only screen and (max-width: 500px){
.searchBar{
    width: 50%;
    font-size: 15px;
}
.search{
    margin-left: 5px;
}
  }
  