.weather-box {
    position: relative; /* Make weather-box the containing block for absolute positioning */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 350px; 
    margin: 20px auto; /* Center the box horizontally on the page */
    text-align: center; /* Center text inside the box */
    margin-top: 50px;
    background-image: linear-gradient(45deg, #2f4680, #500ae4);
  }
  
 
  
  .weather-image {
    width: 40px; /* Set a width for the image */
    height: 40px; /* Maintain aspect ratio */
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 100%;
  }
  
  /* Optional: Style for the text inside weather-box */
  .weather-box p {
    margin: 5px 0; /* Add some space between the text elements */
    font-size: 1.2rem; /* Adjust font size */
    color: white; /* Darker text color */
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
