.day-forecast{
    float: inline-start;
    position: relative;
    clear: both;
  
  }
  
  .hour-forecast p{
    font-size: 10px;
    color: #000000;
    margin-top: 4px;
   
  }
  .forecast-image{
    width: 100%;
    height: auto;
    max-height: 50px; /* Adjust this as needed */
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 100%;
  }
  .forecastButton{
    margin-top: 10px;
  }
  
  .card{
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 5px;
    margin-top: 10px;
  }
  .hour-forecast-card {
    
    flex: 0 0 auto; /* Prevent shrinking */
    width: 100px; /* Adjust width */
    height: 150px; /* Fixed height */
    background-color: #fff;
    
  }
  
  .card-img-top {
    max-height: 50px; /* Control the image size */
    object-fit: cover;
  }
  
  .card-body {
    padding: 10px; /* Adjust padding inside the card */
    max-height: 172.8px;
    text-align: left;
  }
  
  .card-title, .card-text {
    font-size: 12px; /* Adjust text size */
  }
  .card-text{
    margin-bottom: 20px;
  }
  .card-text-weather{
    text-align: left;
    
  }
   .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  .scrollmenu{
    display: flex; /* Use flexbox to arrange items horizontally */
  overflow-x: auto; /* Enables horizontal scrolling */
  white-space: nowrap; /* Keeps the cards from wrapping */
  gap: 10px
  }
  .scrollmenu hour-forecast-card{
    display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  }
  .date-title{
    color: white;
  }