.day-forecast{
    float: inline-start;
    position: relative;
    clear: both;
  
  }
  
  .hour-forecast p{
    font-size: 10px;
    color: #000000;
    margin-top: 4px;
   
  }
  .forecast-image{
    width: 100%;
    height: auto;
    max-height: 50px; /* Adjust this as needed */
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 100%;
  }
  .forecastButton{
    margin-top: 10px;
  }
  
  .card{
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 5px;
    border-radius: 20%;
    margin-top: 10px;
  }
  .hour-forecast-card {
    width: 100px; /* Adjust the width as needed */
    height: 150px; /* Set a fixed height */
    margin: 5px; /* Add some spacing between cards */
    display: inline-block; /* Ensures cards are inline */
  }
  
  .card-img-top {
    max-height: 50px; /* Control the image size */
    object-fit: cover;
  }
  
  .card-body {
    padding: 10px; /* Adjust padding inside the card */
    max-height: 172.8px;
  }
  
  .card-title, .card-text {
    font-size: 12px; /* Adjust text size */
  }
  .card-text{
    margin-bottom: 20px;
  }
  .hour-forecast-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  